<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Animal Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Real-Time Animal Intruders Detection</h1>
    </header>
    <main>
        <div class="container">
            <div class="video-section">
                <h2>Real-time Feed</h2>
                <img src="{{ url_for('video_feed') }}" id="videoFeed">
            </div>
            <div class="image-section">
                <h2>Detected Image</h2>
                <img id="detectedImage" src="/latest_image">
            </div>
        </div>
        <button class="btn" onclick="showPreviousImage()">Show Previous Image</button>
    </main>
    <footer>
        <p>&copy; 2025 Your Name. All Rights Reserved.</p>
    </footer>
    <script>
        function showPreviousImage() {
            // Reload the detected image
            document.getElementById('detectedImage').src = '/latest_image?' + new Date().getTime();
        }
    </script>
</body>
</html>
